{% for item in items %}
  <h1> {{ "Race Distance: " + item.distance }} </h1>
  <p> {{ "Begin Date: " + item.begin_date }} </p>
  <p> {{ "Begin time: " + item.begin_time }} </p>
    {% for temp in item.controls %}
  <h2> {{"Brevet name: " + temp.location}}</h2>
  <p> {{"km: " + temp.km}} </p>
  <p> {{"miles: " + temp.mi}}</p>
  <p> {{"Open time: " + temp.open}} </p>
  <p> {{"Close time: " + temp.close}} </p>
  {% endfor %}
{% endfor %}
